.friends__section .friends__section-header {
  border: solid #f1f2f3;
  color: #9b9b9b;
  border-left: 0;
  border-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  border-width: 1px;
}

.friends__section--rows .friends__section--row {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.friends__section--row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.friends__section-column {
  display: flex;
  align-items: center;
}

.friends__section--row.with-tagline {
  justify-content: space-between;
}
.friends__section-tagline {
  background-color: #f1f2f3;
  color: #9b9b9b;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}
.friends__section--row a {
  text-decoration: none;
  color: inherit;
}
