.search-bar {
  padding: 10px 25px;
  position: relative;
}

.search-bar input {
  width: 100%;
  text-align: center;
  background-color: #f1f2f3;
  padding: 5px 7px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
  outline: none;
  font-size: 12px;
}
.search-bar input::placeholder {
  color: #c3c3c3;
}
.search-bar i {
  color: #c3c3c3;
  position: absolute;
  top: 15px;
  left: 60px;
}
